/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 75px;
$footer-height: 125.5px;

body, body.view-profile {
  min-height: initial;
  background-color: #fff;
}

header.global-header {
    border-bottom: 1px solid #e4e3e3;
    padding: 10px 0;
    background: #fff;
    z-index: 997;
    transition: all 0.5s;
}
.toggle-form {
    display: none;
}
.mobile-nav-item.hidden-mobile.nav-item {
    display: none;
}
a.register-btn.btn {
    display: none;
}
%btn-pl-default-base {
  border-radius: 0;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}
.partners .row {
    padding: 30px;
    background: #edf3f9;
}
#content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding-top: $content-padding-top;
    padding-bottom: $content-padding-bottom;
    margin-top: $header-height;
  }
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header
header.global-header {
  @include media-breakpoint-up(lg) {
    position: fixed;
    top: 0;
    z-index: 200; // necessary to keep the header on top of other elements
    overflow: visible;  // fix for Safari
  }
  //background-color: #4c61bf;
  box-shadow: none;
}

header.global-header .nav-links .secondary .user-image-frame {
  border-radius: 0;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}


/////////////////// Sign in form

.login-register .form-field {
    // Hide "Sign in with your company or school link"
    button.enterprise-login {
        display: none;
    }
}

/////////////////// Home page
.home header {
  box-shadow: none;
  background-color: #fff;
}

.home > header .title {
  box-shadow: none;
}

.home > header .outer-wrapper {
  padding: 0;
}

.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
}
.home > header .title > .heading-group h1 {
  text-align: center;
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: initial;
}

////////////////// "View this course as staff/learner/..."
nav.wrapper-preview-menu {
    // It is necessary to specify `nav` in order to override the common higher priority rule
    @include media-breakpoint-up(lg) {
      margin-top: $header-height;
    }
}

////////////////// Course about page
.course-info header.course-profile {
  background: #fff;
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    box-shadow: none;
  }
}

.course-info {
  .container {
    padding-bottom: 0;
  }
  .details .inner-wrapper > section {
    margin-bottom: 0;
  }
  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }
    strong {
      background-image: none;
      border-radius: 0;
      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}


/////////////////// Course search
.find-courses, .university-profile {
  background-color: #fff;
}

.home .courses-container .courses .courses-listing {
  text-align: center;
  padding: 50px;
  background: #edf3f9;
}

.home .courses-container .courses .courses-listing .courses-listing-item {
  float: none;
  display: inline-block;
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}


/////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;

  .wrapper-logo {
      display: none;
  }
  .copyright {
      display: none;
  }
  .nav-legal ul {
      display: inline-block;
  }
  footer#footer-openedx .footer-about-openedx {
      a {
          float: none;
      }
      p {
          text-align: right;
      }
  }
}





.courses-container .courses .course {
    box-sizing: border-box;
    transition: all 0.125s linear 0s;
    position: relative;
    border-bottom: 3px solid #bbbbbb;

    background: #fff;
    width: 93%;
border-radius: 8px;
}
.home>header .title .course-search .search-input {
    float: left;
    padding-right: 55px;
    padding-left: 10px;
    border: 2px solid #c8c8c8;
    border-radius: 20px;
    box-shadow: none;
    width: 100%;
    height: 55px;
    color: #000;
    font-style: normal;
    font-weight: normal;
}

footer
.wrapper-footer footer#footer-openedx .nav-legal {
    text-align: right;
    font-size: 20px;
}
sign in button

.nav-links .secondary a.sign-in-btn, .global-header .nav-links .secondary .nav-item a.shopping-cart {
    background-color: #ffffff;
    color: #009ee7;
    border: 1px solid #009ee7;
    font-weight: 400;
    border-radius: 15px;
    padding: 5px 20px;
  
}

logo css
.global-header .header-logo a {
    float: left;
    margin: 8px 0 0 40px;
    display: block;
}
.global-header .header-logo a .logo {
    float: left;
    height: 55px;
}
partners 
  
   .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
  margin-top: 50px;
}
.col-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.home>header .title:last-child {
    margin-right: 0;
    width: 100%;
}
.home>header .title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
     margin-left: 0; 
    box-sizing: border-box;
    transition: all 0.2s linear 0s;
    position: relative;
   
    background: #fff;
    padding: 20px 30px;
    /* min-height: 120px; */
    vertical-align: top;
}
h2, .home>header .title>.heading-group p, section.outside-app h1 {
    color: #313131;
    /* font: normal 1.2em/1.2em Crimson; */
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Plex';
    font-size: 35px;
    font-weight: 900;
}
.home>header .title>.heading-group h1 {
    text-align: center;
    color: #3370a5;
  
}
.home>header .title .course-search {
    padding: 20px 0;
    display: none;
}
header.global-header {
    border-bottom: 1px solid #edf3f9;
    padding: 0;
    background: #f0f3f5;
    z-index: 997;
    transition: all 0.5s;
}
.home>header .outer-wrapper {
    position: relative;
    margin: 0 auto;
    
    max-width: 1900px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    /* padding-right: .75rem; */
    /* padding-left: .75rem; */
}





///////////////////// Sign in page css starts here
.login-register, .financial-assistance-wrapper .financial-assistance-form {
    background: #fff;
    min-height: 100%;
    margin: 0 auto;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    display: block;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
}
.window-wrap {
    background: #fff;
    background-image: url(https://cdn.pixabay.com/photo/2017/05/11/11/15/workplace-2303851_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-register-content {
    box-sizing: border-box;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    /* background: #fff; */
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
}
.login-register .form-field input, .financial-assistance-wrapper .financial-assistance-form .form-field input, .login-register .form-field select, .financial-assistance-wrapper .financial-assistance-form .form-field select, .login-register .form-field textarea, .financial-assistance-wrapper .financial-assistance-form .form-field textarea {
    display: block;
    height: 42px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 2px solid #065683;
    border-radius: 10px;
    /* padding: 10px; */
}
.login-register .form-field .field-link, .financial-assistance-wrapper .financial-assistance-form .form-field .field-link {
    display: none;
}
.login-register .action-primary, .financial-assistance-wrapper .financial-assistance-form .action-primary {
    padding: 8px 15px;
    text-transform: none;
    font-weight: 600;
    letter-spacing: normal;
    margin-top: 20px;
    border-radius: 15px;
}
.login-register .form-field label, .financial-assistance-wrapper .financial-assistance-form .form-field label {
    display: block;
    margin: 0;
    color: #000;
    font-size: 20px;
}
body.error h1, .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title a, .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title span, .find-courses .wrapper-search-context .search-status-label, .pagination .page-divider, .verification-process .carousel .view>.title, .verification-process .content-main>.title, .register.is-not-verified.step-confirmation .view .title, .view-survey .header-survey .title, .wrapper-account-settings .wrapper-header .header-title, .login-register-content h2, .login-register-content .home>header .title>.heading-group p, .home>header .title>.heading-group .login-register-content p, .login-register-content section.outside-app h1, section.outside-app .login-register-content h1, .verification-process .reverify-success-step .title, .reverify-blocked .title, .confirm-enrollment .title, .confirm-enrollment .enrollment-details .course-title h1, .shopping-cart h1, .shopping-cart .user-data .data-input .course-display-name, .shopping-cart .user-data .data-input .course-display-dates, .shopping-cart .user-data .data-input h1, .wrapper-authorize h1, .financial-assistance-wrapper h1, #api-access-wrapper h1, .text-me-fragment h2, .text-me-fragment .home>header .title>.heading-group p, .home>header .title>.heading-group .text-me-fragment p, .text-me-fragment section.outside-app h1, section.outside-app .text-me-fragment h1, .view-profile .profile-header .header, .view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one .profile-section-one-fields>.u-field:first-child, .home>header .title .course-search .search-input, .dashboard .main-container .my-courses .wrapper-header-courses .header-courses, .dashboard-banner .wrapper-msg .msg.title, .view-survey .header-survey .course-name, .view-survey .message.submission-error .message-title, .account-settings-sections .section-header, .login-register .status .message-title, .financial-assistance-wrapper .financial-assistance-form .status .message-title, .verification-process .title, .verification-process .page-header .title .sts-label, .verification-process .page-header .title .sts-course-org, .verification-process .page-header .title .sts-course-number, .verification-process .page-header .title .sts-course-name, .verification-process.step-select-track .register-choice .title, .verification-process.step-requirements .list-reqs .req .title, .verification-process.step-requirements .list-reqs .req-activate .title, .confirm-enrollment .enrollment-details .sub-title, .shopping-cart .billing-data h3, .shopping-cart .pattern h2, .shopping-cart .pattern .home>header .title>.heading-group p, .home>header .title>.heading-group .shopping-cart .pattern p, .shopping-cart .pattern section.outside-app h1, section.outside-app .shopping-cart .pattern h1, .empty-cart h2, .empty-cart .home>header .title>.heading-group p, .home>header .title>.heading-group .empty-cart p, .empty-cart section.outside-app h1, section.outside-app .empty-cart h1, #api-access-wrapper h2, #api-access-wrapper .home>header .title>.heading-group p, .home>header .title>.heading-group #api-access-wrapper p, #api-access-wrapper section.outside-app h1, section.outside-app #api-access-wrapper h1, .certificate-card .card-title, .dashboard-search-results .search-info h2, .dashboard-search-results .search-info .home>header .title>.heading-group p, .home>header .title>.heading-group .dashboard-search-results .search-info p, .dashboard-search-results .search-info section.outside-app h1, section.outside-app .dashboard-search-results .search-info h1, .wrapper-msg .msg-content .title, .verification-process .carousel .requirements .title, .verification-process .carousel .requirements .requirement .title, .verification-process .carousel .wrapper-task .wrapper-help .help .title, .verification-process .carousel #wrapper-review .review-task>.title, .verification-process .list-faq .faq-question, .verification-process.step-confirmation .list-info .info-item>.title, .verification-process .help-item .title, .verification-process.step-select-track .help-register .title, .verification-process.step-select-track .field-certificate-contribution .label, .verification-process.step-review .nav-wizard .prompt-verify .title, .wrapper-messages-primary .message .message-title, .wrapper-messages-primary .message .message-copy .title, .find-courses .search-facets .header-search-facets, .find-courses .search-facets .header-facet, .login-register-content h3, .verification-process .wrapper-msg .msg-content .title, .shopping-cart .user-data .data-input h3, .shopping-cart .user-data .data-input h3 span, .shopping-cart .user-data .data-input .course-registration-title, .shopping-cart .user-data .data-input .course-dates-title, .shopping-cart h3, .enrollment-modal-wrapper.is-shown .enrollment-modal .enrollment-change-title, .financial-assistance-wrapper h2, .financial-assistance-wrapper .home>header .title>.heading-group p, .home>header .title>.heading-group .financial-assistance-wrapper p, .financial-assistance-wrapper section.outside-app h1, section.outside-app .financial-assistance-wrapper h1, .text-me-fragment h3, .certificate-card .card-supertitle, .view-profile .profile-header .subheader, .view-profile .wrapper-profile-section-container-two .u-field-title, .msg__title, .verification-process .carousel #wrapper-review .review-task-photos .wrapper-photos .help-tips .title, .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-info [class*="info-"], .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-info .info-date-block-container .info-date-block, .dashboard .main-container .my-courses .course .details .wrapper-course-details .course-info .info-date-block-container .change-session, .dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .actions-dropdown .actions-item, .dashboard .main-container .my-courses .course .details .course-actions .entitlement-actions-wrapper .actions-dropdown .actions-item, .entitlement-actions-wrapper .dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .entitlement-actions-dropdown .actions-item, .dashboard .main-container .my-courses .course .details .course-actions .entitlement-actions-wrapper .entitlement-actions-dropdown .actions-item, .entitlement-actions-wrapper .entitlement-actions-dropdown .entitlement-actions-dropdown-list .dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .actions-dropdown .entitlement-actions-item, .entitlement-actions-wrapper .dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .entitlement-actions-dropdown .entitlement-actions-dropdown-list .entitlement-actions-item, .dashboard .main-container .my-courses .course .details .course-actions .entitlement-actions-wrapper .entitlement-actions-dropdown .entitlement-actions-dropdown-list .entitlement-actions-item, .view-survey .bit .title, .verification-process .wrapper-report .report thead th[scope="col"], .verification-process .progress .progress-step .wrapper-step-number .step-number, .verification-process .progress .progress-step .step-name, .enrollment-results th, .manage-user-results th, .fb-enrollments-results th, .notification .copy .title, .alert:not(.pattern-library-shim) .copy .title, .nav-utilities .action-toggle-message, .view-survey .header-survey .course-org, .view-survey .header-survey .course-number, .certificate-card .card-text, .dashboard .main-container .my-courses .course .details .wrapper-course-image .sts-enrollment .sts-enrollment-value, .verification-process .page-header .title .sts-track .sts-track-value, .view-survey .header-survey .course-info, .verification-process h1, .verification-process h2, .verification-process .home>header .title>.heading-group p, .home>header .title>.heading-group .verification-process p, .verification-process section.outside-app h1, section.outside-app .verification-process h1, .verification-process h3, .verification-process h4, .verification-process h5, .verification-process h6 {
    font-family: Plex;
}

.login-register-content h2, .login-register-content .home>header .title>.heading-group p, .home>header .title>.heading-group .login-register-content p, .login-register-content section.outside-app h1, section.outside-app .login-register-content h1 {
    /* margin-top: 20px; */
    letter-spacing: normal;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #065683;
    text-align: center;
    font-weight: 600;
}

///Nav bar signin button
.global-header .nav-links .secondary a.sign-in-btn, .global-header .nav-links .secondary .nav-item a.shopping-cart {
    background-color: #3b85ff;
    color: #fff;
    border: 2px solid #fff;
    font-weight: 400;
    border-radius: 12px;
    padding: 5px 20px;
}
