  <section class="slider_section">
         <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <img class="first-slide" src="https://portal.tloufoundation.org.za/assets/images/banner.jpg" alt="First slide">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                     <div class="carousel-caption relative">
                        <h1>The More You Learn<br> The More You Earn<br> Start Learning!</h1>
                        <p>Welcome to Tlou Foundation College<br> Our E-learning system will help you<br> accelerate your learning</p>
                        <div class="button_section"> <a class="main_bt" href="https://tlouelearning.org/login?next=%2F">Sign in</a>  </div>
                       
                     </div>
                  </div>
               </div>
         
            </div>
           
         </div>
      </section>

<hr>
<h2 style="padding-top: 40px; text-align: center; font-size: 42px; font-weight: 700;" id="course-head">Courses we offer

</h2>
