<h2>The more you learn the more you earn! Start building your skills with </h2>
<h1 style="margin-bottom:30px; font-weight:800;">Tlou Foundation College</h1>
<img id="hero" src="https://portal.tloufoundation.org.za/assets/images/lms.png" alt="" />

<div class="partners">
  <div class="row">
    
    <div class="col-2 part_logo">
      <img width="150" src="https://portal.tloufoundation.org.za/homeassets/img/1.jpg" />
    </div>
    <div class="col-2 part_logo">
      <img width="150" src="https://portal.tloufoundation.org.za/homeassets/img/2.jpg" />
    </div>
    <div class="col-2 part_logo">
      <img width="150" src="https://portal.tloufoundation.org.za/homeassets/img/3.jpg" />
    </div>
    <div class="col-2 part_logo">
      <img width="150" src="https://portal.tloufoundation.org.za/homeassets/img/4.jpg" />
    </div>
    <div class="col-2 part_logo">
      <img width="150" src="https://portal.tloufoundation.org.za/homeassets/img/6.jpg" />
    </div>
    <div class="col-2 part_logo">
      <img width="150" src="https://portal.tloufoundation.org.za/homeassets/img/7.jpg" />
    </div>
  </div>
</div>
<hr>
<h2 style="padding-top: 40px">Courses we offer
<hr style="width:50%">
</h2>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
